h1{
    text-align:center;
    font-size: 32px;
}


ul{
    text-align: center;
    
}

.content{
    text-align: center;
    margin: auto 0;
}

#createButton{
    display:block;
    float: right;
    margin-right: 10%;
}
